.delete{
     background-image: url("../images/delete.png");
     background-position-y: 20%;
     background-repeat: no-repeat;
     padding-left: 18px;
     background-size: 100%;
}
.edit{
    background-image: url("../images/edit.png");
     background-position-y: 20%;
     background-repeat: no-repeat;
     padding-left: 18px;
     background-size: 100%;
}